#DeepFashion image data
data/deepfashion/Img/
data/deepfashion/Eval/
data/deepfashion/Anno_*/ 
data/deepfashion/*.zip 
data/fashion_grouped
data/raw

models/*.keras

__pycache__/
*.pyc

.ipynb_checkpoints/
